<div class="flex flex-row">
  <div class="cart-container w-3/4">
    <h1 class="px-8"> <%= @user.name %>'s Cart</h1>
    <table class="table-auto w-full">
      <thead>
        <tr class="grid grid-cols-4 gap-4">
          <th class="col-span-1 text-center">Product</th>
          <th class="col-span-1 text-center">Price</th>
          <th class="col-span-1 text-center">Quantity</th>
          <th class="col-span-1 text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <%= render @cart.cart_items %>
      </tbody>
    </table>
  </div>

<div class="checkout-container w-1/4 rounded-lg shadow-md m-4 p-4 text-center">
  <h1>Checkout</h1>
  <p id="cart_total" class="m-6 text-4xl">Cart Total: <%= number_to_currency(@cart.total_price) %></p>
  <div id="cart-state">
    <% if not @cart.empty? %>
      <!-- Form for address and payment method -->
      <%= form_for @order do |f| %>
        <!-- Address selection -->
        <div class="field">
          <%= f.label :address, 'Select Address:' %>
          <%= f.collection_select :addresses, @user.addresses, :id, :street, {}, id: 'address' %>          <!-- Add more address options as needed -->
        </div>
        <!-- Payment method selection -->
        <div class="field">
            <!-- First Row: First Name and Last Name -->
          <div class="flex flex-row mb-4">
            <%= f.text_field :first_name, class: "w-full border rounded-md px-3 py-2 mt-1", required: true, pattern: "[a-zA-Z-]+", placeholder: "Enter your first name" %>
            <%= f.text_field :last_name, class: "w-full border rounded-md px-3 py-2 mt-1", required: true, pattern: "[a-zA-Z-]+", placeholder: "Enter your last name" %>
          </div>
          <!-- Second Row: Credit Card Number, Expiry Date, and CVV -->
          <div class="mb-4">
            <%= f.text_field :card_number, class: "w-full border rounded-md px-3 py-2 mt-1", pattern: "[0-9]{14-15}", required: true, placeholder: "Credit Card Number", maxlength: 16, id: "card-number" %>
            <span id="card-number-error" class="text-red-500"></span>
            <div class="flex">
              <div class="w-1/2 mr-2">
                <%= f.label :card_expiration, "Expiration Date:", class: "block text-gray-700 mt-4" %>
                <%= f.text_field :card_expiration, pattern: "(0[1-9]|10|11|12)/[0-9]{2}$", placeholder: "MM/YY", class: "w-full border rounded-md px-3 py-2 mt-1", maxlength: 5, required: true %>
              </div>
              
              <div class="w-1/2 ml-2">
                <%= f.label :card_cvv, "CVV:", class: "block text-gray-700 mt-4" %>
                <%= f.password_field :card_cvv, pattern: "[0-9]{3}", class: "w-full border rounded-md px-3 py-2 mt-1", maxlength: 3, required: true %>
                </div>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <%= f.submit 'Submit', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
      <% end %>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  </div>
</div>
