<div>
  <div style="text-align: center">
    <h3>Welcome <%= current_user.name %>!</h3>
  </div>
  <h2 style="text-align: center"> Metrics </h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Popular Tags</h3>
      <%= pie_chart @pop_tag %>
      <div style="text-align: center">
        <h3>Most popular tag: </h3>
        <%= @best_tag %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Popular categories</h3>
      <%= pie_chart @pop_cat %>
      <div style="text-align: center">
        <h3>Most popular category: </h3>
        <%= @best_cat %>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px; text-align: center">
    <h2> User Data </h2>
    <table>
      <thead>
      <tr>
        <th style="border: 1px solid #ccc; padding: 8px;">Users</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Products</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Sold Amt.</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px;"><%= User.count %></td>
        <td style="border: 1px solid #ccc; padding: 8px;"><%= Product.count %></td>
        <td style="border: 1px solid #ccc; padding: 8px;"><%= Product.last.id - Product.count %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 20px; margin-bottom: 40px; text-align: center">
    <h3> Add admins </h3>
    <%= form_tag('/user_search', :class => "search_form", :remote => true) do  %>
      <%= text_field_tag :search, params[:search] ||= '', :class => "search_users", placeholder: "Search for a user by email" %>
      <%= submit_tag "Search" %>
    <%end%>
    <div id = 'search_res'>
      <%= render partial: "search" %>
    </div>
  </div>
</div>