<div>
  <h1> Admin Dashboard</h1>
  <h3>Welcome <%= current_user.name %>!</h3>
  <h2> Metrics </h2>
  <%= pie_chart @pop_tag %>
  <%= pie_chart @pop_cat %>
  <table>
    <thead>
    <tr>
      <th>Users</th>
      <th>Products</th>
      <th>Sold Amt.</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= User.count %></td>
      <td><%= Product.count %></td>
      <td><%= Product.last.id - Product.count %></td>
    </tr>
    </tbody>
  </table>
  <h2> Add admins </h2>
  <%= form_tag('/user_search', :class => "search_form") do  %>
    <%= text_field_tag :search, params[:search] ||= '', :class => "search_field", placeholder: "Search for a user by email" %>
    <%= submit_tag "Search" %>
  <%end%>
  <div id = 'search_res'>
    <%= render partial: "search" %>
  </div>
  <h2> Return to home page </h2>
  <%= link_to "Home Page", root_path %>
</div>