<div>
  <h1> Admin Dashboard</h1>
  <h3>Welcome <%= current_user.name %>!</h3>
  <h2> Metrics </h2>
  <%= pie_chart @pop_tag %>
  <%= pie_chart @pop_cat %>
  <p>Most popular tag: </p>
  <%= @best_tag %>
  <p>Most popular category: </p>
  <%= @best_cat %>
  <table>
    <thead>
    <tr>
      <th>Users</th>
      <th>Products</th>
      <th>Sold Amt.</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= User.count %></td>
      <td><%= Product.count %></td>
      <td><%= Product.last.id - Product.count %></td>
    </tr>
    </tbody>
  </table>
  <h3> Add admins </h3>
  <%= form_tag('/user_search', :class => "search_form") do  %>
    <%= text_field_tag :search, params[:search] ||= '', :class => "search_field", placeholder: "Search for a user by email" %>
    <%= submit_tag "Search" %>
  <%end%>
  <div id = 'search_res'>
    <%= render partial: "search" %>
  </div>
</div>