<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: user_path(@user), html: { method: :put }) do |form| %>
  <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
    <div style="text-align: center;">
      <!-- User profile header -->
      <h1><%= @user.name %></h1>
    </div>

    <!-- User Info Section -->
    <div style="width: 50%;">
      <fieldset>
        <legend>User Info</legend>
        <%= form.label :name %>
        <%= form.text_field :name, aria: { label: "Name" } %>

        <%= form.label :email %>
        <%= form.email_field :email, aria: { label: "Email" } %>

        <!-- Placeholder for phone number -->
        <%= label_tag :placeholder_phone, 'Phone number' %>
        <%= text_field_tag :placeholder_phone, '123-456-7890', disabled: true, aria: { label: "Phone number" } %>
      </fieldset>
    </div>

    <!-- Addresses Section - Placeholders for now -->
    <div style="width: 50%;">
      <fieldset>
        <legend>Address Info</legend>
        <%= label_tag :placeholder_street, 'Street address' %>
        <%= text_field_tag :placeholder_street, 'Street address', disabled: true, aria: { label: "Street address" } %>

        <%= label_tag :placeholder_city, 'City' %>
        <%= text_field_tag :placeholder_city, 'City', disabled: true, aria: { label: "City" } %>

        <%= label_tag :placeholder_state, 'State' %>
        <%= text_field_tag :placeholder_state, 'State', disabled: true, aria: { label: "State" } %>

        <%= label_tag :placeholder_zip, 'ZIP code' %>
        <%= text_field_tag :placeholder_zip, 'ZIP Code', disabled: true, aria: { label: "ZIP code" } %>

        <%= label_tag :placeholder_country, 'Country' %>
        <%= text_field_tag :placeholder_country, 'Country', disabled: true, aria: { label: "Country" } %>
      </fieldset>
    </div>

    <!-- Payments Section - Placeholders for now -->
    <div style="width: 50%;">
      <fieldset>
        <legend>Payment Info</legend>
        <%= label_tag :placeholder_cc_number, 'Credit card number' %>
        <%= text_field_tag :placeholder_cc_number, 'Credit card number', disabled: true, aria: { label: "Credit card number" } %>

        <%= label_tag :placeholder_cc_expr, 'Expiration date (MM/YY)' %>
        <%= text_field_tag :placeholder_cc_expr, 'MM/YY', disabled: true, aria: { label: "Expiration date" } %>

        <%= label_tag :placeholder_cc_name_on_card, 'Name on card' %>
        <%= text_field_tag :placeholder_cc_name_on_card, 'Name on card', disabled: true, aria: { label: "Name on card" } %>
      </fieldset>
    </div>

    <div style="text-align: center; width: 100%;">
      <%= form.submit "Update", class: "button", style: "margin-top: 20px;" %>
    </div>
  </div>
<% end %>

<script>
    var addressCount = 1; // Initial count is 1 because there's already one address field

    function addAddress() {
        if (addressCount < 3) {
            var newAddress = document.createElement('input');
            newAddress.setAttribute('type', 'text');
            newAddress.setAttribute('name', 'address' + (addressCount + 1));
            newAddress.setAttribute('aria-label', 'Address ' + (addressCount + 1));
            document.getElementById('address-fields').appendChild(newAddress);
            addressCount++;
        }
    }

    function removeAddress() {
        if (addressCount > 1) {
            var addressFields = document.getElementById('address-fields');
            addressFields.removeChild(addressFields.lastChild);
            addressCount--;
        }
    }
</script>
