<body data-user-id="<%= @user.id %>">
<% if @user.errors.any? %>
  <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Oops!</strong>
    <span class="block sm:inline"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</span>
    <ul class="list-disc list-inside">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- User profile header -->
<div class="flex justify-center items-center flex-col py-4"> <!-- Flex container -->
  <% if @user.image.present? %>
    <%= image_tag @user.image.image.url, alt: "User Profile Photo", class: "rounded-full", style: "width: 100px; height: 100px;" %>
  <% else %>
    <%= image_tag "https://via.placeholder.com/150", alt: "User Profile Photo", class: "rounded-full", style: "width: 100px; height: 100px;" %>
  <% end %>
  <h4 class="mt-2"><%= @user.name %></h4> <!-- Added margin-top for spacing -->
</div>

<div class="profile-divider"></div> <!-- This adds the styled divider using a class -->

<!-- Main Content Wrapper -->
<div class="flex flex-wrap justify-around w-full">
  <!-- User Info Section -->
  <div class="w-full lg:w-1/3 px-4 mb-6">
    <%= form_for(@user, :url => update_user_path(@user), html: { method: :put }) do |form| %>
      <div class="border p-4 rounded-lg shadow-md">
        <div class="mb-4">
          <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", aria: { label: "Name" } %>
        </div>

        <div class="mb-4">
          <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", aria: { label: "Email" } %>
        </div>

        <div class="mb-6">
          <%= form.label :phone_number, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.phone_field :phone_number, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", aria: { label: "Phone number" } %>
        </div>

        <!-- Profile Photo Upload Section -->
        <div class="mb-6">
          <%= form.label :profile_photo, "Profile Photo", class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.file_field :profile_photo, accept: 'image/jpeg,image/gif,image/png', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <%= form.submit "Update User Info", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>
    <%= form_for(@user, :url => update_password_path(@user), html: { method: :put }) do |form| %>
      <div class="mb-6">
        <%= form.label :password, 'New Password', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", aria: { label: "New Password" } %>
      </div>

      <div class="mb-6">
        <%= form.label :password_confirmation, 'Confirm New Password', class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", aria: { label: "Confirm New Password" } %>
      </div>

      <%= form.submit "Update Password", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <% end %>

    </div>
  </div>

  <!-- Addresses Section -->
  <div class="w-full lg:w-1/3 px-4 mb-6">
    <%= form_tag(update_address_path, method: :post) do %>
      <div class="border p-4 rounded-lg shadow-md">
        <div class="mb-4">
          <%= label_tag :street, 'Street address', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :street, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :city, 'City', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :city, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :state, 'State', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :state, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :zip, 'ZIP code', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :zip, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :country, 'Country', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :country, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <%= hidden_field_tag :address_index, '', id: 'address_index' %>

        <% (1..3).each do |i| %>
          <%= button_tag type: 'button', 'data-index': i - 1, class: "address-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", style: "margin-top: 20px;" do %>
            <%= i %>
          <% end %>
        <% end %>

        <%= submit_tag "Update", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>

      </div>
    <% end %>
  </div>

  <!-- Payments Section -->
  <div class="w-full lg:w-1/3 px-4 mb-6">
    <%= form_for(@user, url: update_payment_path(@user), html: { method: :put }) do |form| %>
      <div class="border p-4 rounded-lg shadow-md">
        <div class="mb-4">
          <%= label_tag :cc_number, 'Credit card number', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :cc_number, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :cc_expr, 'Expiration date (MM/YY)', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :cc_expr, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= label_tag :cc_name_on_card, 'Name on card', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= text_field_tag :cc_name_on_card, nil, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <%= form.submit "Update Payment Info", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>


</body>