<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%;">
  <!-- User Info Section -->
  <div style="width: 50%;">
    <%= form_for(@user, :url => update_user_path(@user), html: { method: :put }) do |form| %>
      <fieldset>
        <legend>User Info</legend>
        <%= form.label :name %>
        <%= form.text_field :name, aria: { label: "Name" } %>

        <%= form.label :email %>
        <%= form.email_field :email, aria: { label: "Email" } %>

        <%= form.label :phone_number %>
        <%= form.phone_field :phone_number, aria: { label: "Phone number" } %>
      </fieldset>
      <%= form.submit "Update User Info", class: "button", style: "margin-top: 20px;" %>
    <% end %>

    <%= form_for(@user, :url => update_password_path(@user), html: { method: :put }) do |form| %>
      <%= form.label :password, 'New Password' %>
      <%= form.password_field :password, aria: { label: "New Password" } %>

      <%= form.label :password_confirmation, 'Confirm New Password' %>
      <%= form.password_field :password_confirmation, aria: { label: "Confirm New Password" } %>
      <%= form.submit "Update Password", class: "button", style: "margin-top: 20px;" %>
    <% end %>
  </div>

  <!-- Addresses Section -->
  <%= form_tag(update_address_path, method: :post) do %>
    <!-- Hidden field for user ID -->
    <div style="width: 30%;">
      <fieldset>

        <legend>Address Info</legend>
        <%= label_tag :street, 'Street address' %>
        <%= text_field_tag :street %>

        <%= label_tag :city, 'City' %>
        <%= text_field_tag :city %>

        <%= label_tag :state, 'State' %>
        <%= text_field_tag :state %>

        <%= label_tag :zip, 'ZIP code' %>
        <%= text_field_tag :zip %>

        <%= label_tag :country, 'Country' %>
        <%= text_field_tag :country %>

        <!-- Buttons to update respective address -->
        <% (1..3).each do |i| %>
          <%= submit_tag "Update Address #{i}", name: 'address_index', value: i, class: "button", style: "margin-top: 20px;" %>
        <% end %>
      </fieldset>
    </div>
  <% end %>

  <!-- Payments Section -->
  <%= form_for(@user, url: update_payment_path(@user), html: { method: :put }) do |form| %>
    <div style="width: 50%;">
      <fieldset>
        <legend>Payment Info</legend>
        <%= label_tag :cc_number, 'Credit card number' %>
        <%= text_field_tag :cc_number %>

        <%= label_tag :cc_expr, 'Expiration date (MM/YY)' %>
        <%= text_field_tag :cc_expr %>

        <%= label_tag :cc_name_on_card, 'Name on card' %>
        <%= text_field_tag :cc_name_on_card %>

      </fieldset>
      <%= form.submit "Update Payment Info", class: "button", style: "margin-top: 20px;" %>
    </div>
  <% end %>
</div>
