<div class = "user-info-wrapper">
  <h2>Profile</h2>
  <div class = "user-info">
    <% testUser = @user.first %>
      <h4><%= testUser.name %></h4>
      <h4>Placeholder Address</h4>
      <h4><%= testUser.email %></h4>
      <h4>Placeholder phone</h4>
      <h4>Placeholder payment</h4>
      <h4><%= link_to "Edit user settings", edit_path %></h4>
  </div>
</div>

<% #For now, this displays the first product in the database to get a feel for the functionality %>
<div class = "recent-order-wrapper">
  <h3>Recent Orders</h3>
  <% prod = Product.first %>
  <div class="product">
    <h4><%= prod.name %></h4>
    <p><%= prod.descripton %></p>
    <p>$<%= prod.price %></p>
    <%= link_to "More info" %>
  </div>
</div>
<% #Currently this just displays the second product listed in the db, mostly so we can visualize what it looks like %>
<div class = "current-postings-wrapper">
  <h3>Current Postings</h3>
  <% prod_two = Product.first %>
  <div class="product">
    <h4><%= prod_two.name %></h4>
    <p><%= prod.descripton %></p>
    <p>$<%= prod_two.price %></p>
    <%= link_to "More info" %>
  </div>
</div>
