<div class="card half-width-card mb-4">
    <div class="card-body">
        <% item = cart_item.product %>
        <h3 class="card-text font-serif font-bold text-blue-600"><%= item.name %></h3>
        <p class="card-text font-mono ml-8"><%= item.description %></p>
        <div class="card-text mb-2">
          <span class="text-gray-700 text-2xl font-sans font-bold">Unit Price: </span>
          <span class="text-gray-600"><%= number_to_currency(item.price) %></span>
        </div>
        <% if item.discount > 0 %>
        <div class="card-text mb-2">
          <span class="text-red-500 text-2xl font-sans font-bold">Discount: </span>
          <span class="text-red-500"><%= item.discount %>%</span>
        </div>
        <div class="card-text mb-2">
          <span class="text-gray-700 text-2xl font-sans font-bold">Discounted price per item: </span>
          <span class="text-gray-600"><%= number_to_currency(item.price * (1 - item.discount / 100.0)) %></span>
        </div>
        <% end %>
        <div class="card-text mb-2">
          <span class="text-gray-700 text-2xl font-sans font-bold">Quantity: </span>
          <span class="text-gray-600"><%= cart_item.quantity %></span>
        </div>
        <div class="card-text mb-2">
          <span class="text-gray-700 text-3xl font-sans font-semibold">Total Item Price: </span>
          <span class="text-gray-600"><%= number_to_currency(cart_item.total_price) %></span>
        </div>
        <%= link_to "Remove", cart_path(cart_id: @cart.id, product_id: item.id, quantity: 1), method: :delete, class: "btn btn-danger" %>
    </div>
</div>