<% item = cart_item.product %>
<tr id="item_<%=cart_item.id%>"class="grid grid-cols-4 gap-4 p-4 m-4">
  <td class="col-span-1 text-center text-lg flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
     <div class="product-thumbnail-container">
        <div class="relative">
          <% if not item.images.empty? %>
            <%= image_tag product.images.first.image.thumb("150x150").url, class: "product-image", loading: "lazy", id: "thumbnail" %>     
          <% else %>
              <%= image_tag "https://via.placeholder.com/150", class: "product-image", loading: "lazy", id: "thumbnail"%>
          <% end %>
          <%= link_to 'X', cart_path(product_id: item.id, quantity: item.quantity), remote: true, method: :delete, class: "absolute top-0 right-0 p-2 bg-red-500 hover:text-red-500 hover:bg-white no-underline hover:no-underline", title: "Delete item" %>        
        </div>
      </div>
      <%= item.name %> <br>
      <%= item.tag_list %>
    </div>
  </td>
  <td class="col-span-1 text-center flex items-center justify-center"><%= number_to_currency(item.price)%></td>
  <td class="col-span-1 text-center flex items-center justify-center">
    <div class="flex flex-row justify-center">
      <div class="flex flex-col justify-center items-center">
        <%
=begin%>
 <%= link_to '-', cart_path(product_id: item.id, quantity: item.quantity - 1), remote: true, method: :put, class: "p-2 bg-red-500 hover:text-red-500 hover:bg-white no-underline hover:no-underline", title: "Decrease quantity" %> 
<%
=end%>
        <span id="item-<%=cart_item.id%>" class="text-center"><%= cart_item.quantity %></span>
        <%
=begin%>
 <%= link_to '+', cart_path(product_id: item.id, quantity: item.quantity + 1), remote: true, method: :put, class: "p-2 bg-green-500 hover:text-green-500 hover:bg-white no-underline hover:no-underline", title: "Increase quantity" %> 
<%
=end%>
      <%
=begin%>
 <%= form_for cart_item, remote: true do |f|%>
        <%= f.number_field :quantity, id: "item-#{cart_item.id}", class: "max-w-xs"%>
      <% end %> 
<%
=end%>
    </div>
  </td>
  <td class="col-span-1 text-center flex items-center justify-center"><%= number_to_currency(cart_item.total_price) %></td>
</tr>