<%= link_to product_path(product), class: "no-underline hover:no-underline" do %>
  <div id="product_<%=product.id%>" class="shadow-lg rounded-lg p-4 m-4 w-1/4 flex flex-col no-underline">
    <div class="flex justify-center">
      <% if not product.images.empty? %>
        <div class="flex items-center justify-center">
          <%= image_tag product.images.first.image.thumb("150x150").url, loading: "lazy", id: "thumbnail" %>
        </div>
      <% else %>
        <%= image_tag "https://via.placeholder.com/150", loading: "lazy", id: "thumbnail"%>
      <% end %>
    </div>
    <h4 class="text-4xl mx-auto font-serif text-center select-none"><%= product.name %></h4>
    <% if product.discount.present? && product.discount > 0 %>
      <h5 class="text-xl text-center text-color-black">
        Was <del><%= number_to_currency(product.price) %></del>
      </h5>
      <h4 class="text-2xl text-center">
        Now: <span class="text-red-500"><%= number_to_currency(product.price * (1 - product.discount / 100.0)) %></span>
        <span>(<%= product.discount %>% off)</span>
      </h4>
    <% else %>
        <h4 class="text-center text-green-500"><%= number_to_currency(product.price) %></h4>
        <span> <%= product.quantity %> </span>
    <% end %>
    <p class="text-lg"> 
      <%= pluralize(product.user.reviews, 'Review')  %>
      <%= link_to product.user.name, user_path(product.user) %>
    </p>
    
    <%= link_to "Add to Cart", add_to_cart_path(product_id: product.id, quantity: 1), method: :post, class: "w-full bg-blue-500 text-white py-2 mb-0 px-4 rounded-md text-center r-0 b-0 hover:no-underline hover:bg-blue-800"%>
  </div>
<% end %>