<div class="for-you-wrapper">
  <h3>For You</h3>
  <% # Will contain the code to display current hot items, etc%>
  <%= form_tag :product_search, method: "post", class: "search-price" do %>
    <div class="search-tabs">
      <div class="tab">
        <label for="min_price">Min Price</label>
        <%= number_field_tag :min_price, params[:min_price] ||= 0, class: "tab-input", step: "0.01" %>
      </div>
      <div class="tab">
        <label for="max_price">Max Price</label>
        <%= number_field_tag :max_price, params[:max_price] ||= 9999, class: "tab-input", step: "0.01" %>
      </div>
      <div class="tab">
        <label for="category_id">Category</label>
        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id] ||= ''), include_blank: true, class: "tab-input" %>
      </div>
      <div class="tab">
        <label for="tag_list">Tag</label>
        <%= select_tag :tag_list, options_from_collection_for_select(@product_tags, :name, :name, params[:tag_list]), include_blank: true, class: "tab-input" %>
      </div>
      <input type="submit" value="Search" class="search-button">
      <div class="tab">
        <%= submit_tag "See all", name: "see_all", class: "return-button" %>
      </div>
    </div>
  <% end %>
</div>

<div class="product-list-wrapper">
    <h3>Products</h3>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" disabled>
        <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel">Card View</label>
    </div>
    <div class="product-list">
      <%= render partial: 'products/product', collection: @products, cached: true %>
    </div>
</div>