<h1>New Product</h1>

<%= link_to "Back", root_path %>

<%= form_for @product, url: products_create_path do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01, min: 0 %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min: 0 %>
    </div>
    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <%= f.submit %>
<% end %>
