<%= form_tag :product_search, method: "post", class: "search-price" do %>
  <h3>Search Results</h3>
  <div class="search-tabs">
    <div class="tab">
      <label for="min_price">Min Price</label>
      <%= number_field_tag :min_price, params[:min_price], class: "tab-input", step: "0.01" %>
    </div>
    <div class="tab">
      <label for="max_price">Max Price</label>
      <%= number_field_tag :max_price, params[:max_price], class: "tab-input", step: "0.01" %>
    </div>
    <div class="tab">
      <label for="category_id">Category</label>
      <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: true, class: "tab-input" %>
    </div>
    <div class="tab">
      <label for="discounted">Discounted Products</label>
      <%= check_box_tag :discounted, "1", params[:discounted], class: "tab-input" %>
    </div>
    <div class="tab">
      <label for="tag_list">Tag</label>
      <%#= text_field_tag :tag_list, params[:tag_list], class: "tab-input" %>
      <%= select_tag :tag_list, options_from_collection_for_select(@product_tags, :name, :name, params[:tag_list]), include_blank: true, class: "tab-input" %>
    </div>

    <input type="submit" value="Search" class="search-button">
    <div class="tab">
      <%= submit_tag "See all", name: "see_all", class: "return-button" %>
    </div>
  </div>
<% end %>

<div class="product-list">
  <%= render @match %>
</div>
