<div class="mt-8">
  <%= link_to 'Back', user_path(@product.user_id), class: "bg-gray-300 hover:bg-grey-100 text-black py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>
<h1 class="text-6xl font-medium justify-center"><%= @product.name %></h1>

<div class="text-3xl ml-16 mt-8">
  <p class="text-purple-400"><%= @product.description %></p>
  <p><strong>Price: </strong><%= number_to_currency(@product.price) %></p>
  <p><strong>Quantity: </strong><%= @product.quantity %></p>
  <p><strong>Seller: </strong><%= @user.name %> </p>
  <p><strong>Category: </strong><%= @product.category.name %></p>
  <p><strong>Tags: </strong><%= @product.tag_list %></p>
  <br>
  <%= link_to "Add to Cart", add_to_cart_path(product_id: @product.id, quantity: 1), method: :post, class: "text-l bg-blue-500 hover:bg-blue-300 text-white py-2 px-4 rounded" %>
</div>
<br>

<h1 class="mt-16">Photos</h1>
<% if @product.images.present? %>
  <ul class="row" id="photos-list">
    <%= render partial: 'images/image', collection: @product.images, cached: true %>
  </ul>
<%end%>

