<%= link_to "Back to main page", root_path %> <br>
<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Quantity: <%= @product.quantity %></p>
<p>Seller: <%= @user.name %> </p>

<%= form_tag add_to_cart_path(id: session[:cart_id], product_id: @product.id, quantity: :quan), method: :post do %>
  <%= select_tag :quan, options_for_select((1..@product.quantity).to_a) %>
  <%= submit_tag "Add to Cart" %>
<% end %>
<br>

<h1>List of photos</h1>
<% if @product.images.present? %>
<ul class="row" id="photos-list">
  <%= render @product.images %>
</ul>
<%end%>

