<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ebay2!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <div class="navbar navbar-expand-lg bg-primary text-white mb-3">
      <div class="topnav-wrapper">
         <%= link_to "Home", root_path %>   
        <%= form_tag :product_search, :method => "post", :class => "search_form" do  %>
          <%= text_field_tag :search, params[:search] %>
        <%end%>
        <%= link_to 'Cart', cart_path(session[:cart_id] || session[:session_id]) %>
        <%= link_to "Profile", {controller: "user", action:"index", id: session[:user_id]}, method: :get %>
        <%= link_to 'About', about_path %>
        <%= link_to 'SignUp', signup_path %>
        <% if current_user.present? %>
          <%= link_to 'LogOut', logout_path %> <%= "Welcome, #{current_user.name}!\nSession: #{session[:session_id]}\n #{current_user.id}" %>
        <% else %>
          <%= link_to 'LogOut', logout_path %>
        <% end %>
        </div>
    </div>

    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
