<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ebay2!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <nav class="fixed top-0 left-0 right-0 bg-gray-800 z-50">
    <div class="mx-20 max-w-7xl px-2 sm:px-6 lg:px-10">
      <div class="flex h-24 items-center justify-between">
        <div class="flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex space-x-8">
<!--            <div class="flex space-x-64">-->
<!--              <div class="flex space-x-8">-->
            <%= link_to "Home", root_path, class: "bg-gray-600 hover:bg-gray-400 text-white hover:text-blue rounded-md px-3 py-2 text-2xl font-medium"%>
            <%= link_to 'About', about_path, class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium" %>
            <% if current_user.present? %>
              <%= link_to 'Profile', user_path(current_user.id), class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate"%>
              <%= link_to "Cart (#{current_user.cart.total_quantity})", cart_path(current_user.cart.id), :method => "get", class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate"%>
              <%= link_to 'Log Out', logout_path, class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate" %>
              <div class="text-gray-300 rounded-md px-3 py-2 text-2xl font-medium truncate">
                <%= "Welcome, #{current_user.name}!" %>
              </div>
            <% else %>
              <%= link_to 'Profile', new_session_path, class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate"%>
              <%= link_to "Cart", new_session_path, class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate"%>
              <%= link_to 'Login', new_session_path, class: "bg-gray-300 hover:bg-gray-400 hover:text-white rounded-md px-3 py-2 text-2xl font-medium block truncate" %>
            <% end %>
          </div>
          <div class="fixed top-4 right-10">
            <%= form_tag :product_search, method: "post", class: "flex" do %>
              <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id] ||= ''), prompt: "Select a Category", class: "bg-gray-200 border-r-2 border-grey text-l px-1", style: "width: 150px;"%>
              <%= text_field_tag :search, params[:search] ||= '', class: "bg-white form-input text-l px-2", placeholder: "Search for a product", style: "width: 300px;" %>
              <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                Search
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
<!--      <div class="topnav-wrapper">-->
        <%#= link_to "Home", root_path %>
        <%#= link_to 'About', about_path %>
        <%#= form_tag product_search_path, :class => "search_form" do  %>
          <%#= text_field_tag :search, params[:search] ||= '', :class => "search_field", placeholder: "Search for a product" %>
        <%#end%>

        <%# if current_user.present? %>
          <%#= link_to 'Profile', user_path(current_user.id)%>
          <%#= link_to "Cart (#{current_user.cart.total_quantity})", cart_path(current_user.cart.id), :method => "get"%>
          <%#= link_to 'Log Out', logout_path %> <%#= "Welcome, #{current_user.name}!" %>
        <%# else %>
          <%#= link_to 'Profile', new_session_path %>
          <%#= link_to 'Cart', new_session_path %>
          <%#= link_to 'Login', new_session_path %>
        <%# end %>
<!--        </div>-->

  <div class="container" style="padding-top: 60px;">
    <%# Render "flash" messages in our application. This loads _flash.erb %>
    <%= render 'layouts/flash' %>
    <main id="main">
      <%= yield %>
    </main>
  </div>
  </body>
</html>
