<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ebay2!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="flex-col w-full h-auto">
      <%= render 'layouts/nav' %>  
    </header>
    <div class="flex flex-col m-4">
      <%= render 'layouts/flash' %>
      <main id="main" class="flex-grow">
        <%= yield %>
      </main>
    </div>

    <footer class="flex flex-col mt-auto">
      <div class="container">
        <p>&copy; 2023 SELT Team Project. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
